@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Fira Sans;
}

body {
    background-color: #f6f5f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    color: inherit;
    text-decoration: none;
}

@media screen and (min-width: 1200px) {
    .head {
        height: 50px;
        width: 50%;
        min-width: 30%;
        background-color: #fff;
        margin-left: 50px;
        margin-right: 50px;
        display: grid;
        grid-template-columns: 2fr repeat(2, 1fr);
        box-shadow: 0px 0.3px 5px rgb(187, 186, 186);
        transition: 0.2s ease;
    }
    .button {
        cursor: pointer;
    }
    .button:hover {
        color: black;
    }
    .button:active {
        font-size: 1.2rem;
    }
    .section {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #name {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        height: 100%;
    }
    .mobile {
        display: none;
    }
    #name {
        justify-content: start;
        padding-left: 100px;
    }
    #main-page, #playlists, #songs{
        font-size: 1.1rem;
        color:rgb(71, 70, 70);
    }
    #main-page {
        border-bottom: 2px solid red;
    }
    @media screen and (min-width: 2200px) {
        .head {
            height: 100px;
        }
        #name {
            font-size: 3rem;
        }
        #main-page, #playlists, #songs{
            font-size: 2rem;
        }
    }
    .content {
        width: 50%;
        min-width: 30%;
        background-color: #fff;
        position: relative;
        top: 5px;
        box-shadow: 0px 0.3px 5px rgb(187, 186, 186);
        transition: 0.2s ease;
    }
    .main-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (max-width: 1350px) {
        .head {
            width: 60%;
        }
        .content {
            width: 60%;        
        }
    }
    .mus-anim {
        width: 100%;
        /* box-shadow: inset 0px 0 1px 2px gray; */
        /* background: linear-gradient(320deg, #2ecc71 15%, #2980b9 85%) fixed; */
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #a4466a);
	    background-size: 400% 400%;
	    animation: gradient 12s ease infinite;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    #play-random {

        font-size: 5rem;
        color: white;
        /* padding-bottom: 2rem; */
        text-shadow: 2px 1px 2px gray;
        cursor: pointer;
    }
    @media screen and (max-width: 1350px) {
        #play-random {
            font-size: 4rem;
        }
    }

    @media screen and (min-width: 2800px) {
        #play-random {
            font-size: 8rem;
        }
    }
    #play-random:active {
        color: rgb(213, 213, 213);
    }


    .songs-content {
        /* border: 1px solid red; */
        position: absolute;
        height: 100%;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .song {
        width: 99%;
        height: 50px;
        margin-top: 8px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border: 3px solid white;
    }
    .song:hover {
        border: 3px solid #f5da59;
    }
    .song-buttons-div {
        display: flex;
    }
    #song-buttons {
        color: #b0afad;
        cursor: pointer;
        margin-left: 20px;
        margin-right: 20px;
    }
    .play-song {
        font-size: 25px;
    }
    .song-info {
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        min-width: 100px;
        padding-left: 15px;
    }
    .song-img {
        width: 40px;
        height: 40px;
        background-size: cover; 
    }
    .song-name {
        font-weight: 300;
    }
    .song-duration {
        width: 50px;
        height: 20px;
        position: absolute;
        right: 30px;
        color:rgb(78, 77, 77);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .playing-now {
        height: 50px;
        position: fixed;
        bottom: 0;
        background-color: rgb(255, 253, 253);
        box-shadow: 0px 0px 6px rgb(81, 81, 81);
        display: flex;
        align-items: center;

    }
    .player-buttons-div {
        text-align: center;
        width: 200px;
    }
    #player-buttons {
        /* color: #dad8d6; */
        color: #b0afad;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
    }
    .play-current {
        font-size: 25px;
    }
    .pause {
        font-size: 25px;
        display: none;
    }
    .play-previous {
        font-size: 20px;
    }
    .play-next {
        font-size: 20px;
        /* text-shadow: 0px 0px 2px rgb(67, 67, 67); */
    }

    .current-song {
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        min-width: 200px;
        max-width: 300px;
        overflow: hidden;
        padding-left: 5px;
    }
    .current-song-img {
        width: 40px;
        height: 40px;
        background-image: url('../img/morgenshtern-cadillac.jpeg');
        background-size: cover;  
    }
    p#current-song-name {
        font-weight: 300;
    }
    .actions-with-current-song {
        display: flex;
        align-items: center;
        justify-content: start;
        color: #b0afad;
    }

    .volume-bar {
        right: 10px;
        position: absolute;
        display: flex;
        align-items: center;
    }
    .volume-control {
        width: 150px;
        height: 5px;
        border-radius: 3px;
        /* border: 2px solid #b0afad; */
        background: #b0afad;
        display: flex;
        align-items: center;
        transition: 0.2s;
        cursor: pointer;
    }
    .volume-control:hover {
        height: 10px;
    }
    .volume-filler {
        background-color: #f2cb2f;
        height: 100%;
        width: 10%;
        border-radius: inherit;
    }
    @media screen and (min-width: 1700px) {
        .song-info {
            font-size: 1.3em;
        }
        .song-duration {
            font-size: 1.3em;
        }
        .song-img {
            width: 50px;
            height: 50px;
        }
    }
    @media screen and (min-width: 2500px) {
        .playing-now {
            height: 100px;
        }
        .play-current {
            font-size: 40px;
        }
        .pause {
            font-size: 40px;
            display: none;
        }
        .play-previous {
            font-size: 30px;
        }
        .play-next {
            font-size: 30px;
            /* text-shadow: 0px 0px 2px rgb(67, 67, 67); */
        }
        .current-song {
            font-size: 1.4em;
            min-width: 200px;
            max-width: 300px;
        }
        .current-song-img {
            width: 60px;
            height: 60px;
        }

        .volume-control {
            width: 250px;
            height: 10px;
        }
        .volume-control:hover {
            height: 15px;
        }
        .song {
            height: 80px;
        }
        .play-song {
            font-size: 40px;
        }
        .song-info {
            display: flex;
            flex-direction: column;
            font-size: 1.3em;
            min-width: 200px;
            padding-left: 15px;
        }
        .song-img {
            width: 60px;
            height: 60px;
        }
        .song-duration {
            font-size: 1.3em;
        }
    }
    .progress-bar {
        position: absolute;
        top:-10px;
        width: 100%;
        height: 10px;
        background: #bfbfbf;
        cursor: pointer;
        transition: 0.2s ease;
    }
    .progress-bar:hover {
        height: 15px;
        top: -15px;
    }
    .progress-bar-filler {
        position: absolute;
        height: 100%;
        background-color: #f2cb2f;
        transition: 0.3s ease;
    }
    .progress-bar-pointer {
        position: absolute;
        width: 2px;
        height: 100%;
        background: #000;
        /* background-color: #f2cb2f47; */
        display: none;
        border-radius: 2px;
    }

}

@media screen and (max-width: 1199px) {
    .desktop {
        display: none;
    }
    .head {
        width: 100%;
        /* background-color: #fff; */
        height: 50px;
        position: absolute;
        bottom:10px;
        display: flex;
        justify-content: space-around;
        /* box-shadow: 0px 0.3px 5px rgb(187, 186, 186); */
        align-items: center;
        transition: 0.2s ease;
    }
    #name {
        display: none;
    }
    .section {
        height: 100%;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0px 0.3px 5px rgb(187, 186, 186);
        background-color: #fff;
    }
    #main-page, #playlists, #songs{

        font-size: 1.1rem;
        color:rgb(71, 70, 70);
    }
    .content {
        width: 80%;
        min-height: 50%;
        max-height: 70%;
        background-color: #fff;
        position: absolute;
        top: 8%;
        box-shadow: 0px 0.3px 5px rgb(187, 186, 186);
        transition: 0.2s ease;
        border-radius: 10px;
        overflow-y: auto;
    }
    .main-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mus-anim {
       display: none;
    }
    .song {
        width: 99%;
        height: 50px;
        margin-top: 2px;
        margin-bottom: 2px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0px 0.3px 5px rgb(187, 186, 186);
    }
    .song-buttons-div {
        display: flex;
    }
    #song-buttons {
        color: #b0afad;
        margin-left: 20px;
        margin-right: 20px;
    }
    .play-song {
        font-size: 25px;
    }
    .song-info {
        display: flex;
        flex-direction: column;
        font-size: 0.7em;
        min-width: 70px;
        padding-left: 5px;
    }
    .song-artist {
        font-family: sans-serif;
        font-weight: 800;
    }
    .song-img {
        width: 30px;
        height: 30px;
        background-size: cover;
        border-radius: 5px;
    }
    .song-duration {
        width: 10px;
        height: 5px;
        position: absolute;
        right: 10px;
        color:rgb(78, 77, 77);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.6em;
    }
    .playing-now {
        height: 50px;
        width: 80%;
        position: fixed;
        bottom: 70px;
        background-color: rgb(255, 253, 253);
        box-shadow: 0px 0.3px 5px rgb(187, 186, 186);
        display: flex;
        align-items: center;
        border-radius: 10px;
        box-sizing: border-box;
        overflow-y: hidden;
    }
    .player-buttons-div {
        text-align: center;
        width: 25px;
        position: absolute;
    }
    #player-buttons {
        /* color: #dad8d6; */
        color: #b0afad;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
    }
    .play-current {
        font-size: 25px;
        opacity: 0.8;
    }
    .play-previous {
        font-size: 8px;
        display: none;
    }
    .play-next {
        font-size: 8px;
        display: none;
        /* text-shadow: 0px 0px 2px rgb(67, 67, 67); */
    }
    .current-song {
        display: flex;
        flex-direction: column;
        font-size: 0.6em;
        min-width: 80px;
        max-width: 100px;
        overflow: hidden;
        padding-left: 5px;
    }
    .current-song-artist {
        font-family: sans-serif;
        font-weight: 800;
    }
    .current-song-img {
        margin-left: 6px;
        width: 30px;
        height: 30px;
        background-image: url('../img/morgenshtern-cadillac.jpeg');
        background-size: cover; 
        border-radius: 5px; 
    }
    .actions-with-current-song {
        display: flex;
        align-items: center;
        justify-content: start;
        color: #b0afad;
    }
    .volume-bar {
        right: 10px;
        position: absolute;
        display: flex;
        align-items: center;
    }
    .volume-control {
        width: 70px;
        height: 10px;
        border-radius: 3px;
        /* border: 2px solid #b0afad; */
        background: #b0afad;
        display: flex;
        align-items: center;
        transition: 0.2s;
        cursor: pointer;
    }
    .volume-filler {
        background-color: #f2cb2f;
        height: 100%;
        width: 10%;
        border-radius: inherit;
    }
    .progress-bar {
        position: absolute;
        bottom:-2px;
        width: 100%;
        height: 10px;
        background: #bfbfbf;
        cursor: pointer;
        transition: 0.2s ease;
        border-radius: 10px;
        box-shadow: 0px 0.3px 5px rgb(187, 186, 186);
    }
    .progress-bar-filler {
        position: absolute;
        height: 100%;
        background-color: #f2cb2f;
        transition: 0.3s ease;
        border-radius: 10px;
    }
}